<!doctype html>
{% load staticfiles %}
<html lang="en" style="overflow-x: hidden;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--link rel="stylesheet" href="{% static "css/style.css" %}"-->
    <link rel="stylesheet" href="{% static "css/weui.css" %}">
    <link rel="stylesheet" href="{% static "css/background_style.css" %}">

    <title>!Hub</title>
  </head>
  <body style="overflow-x: hidden;">


  <p style="text-align: center;color: #3D5989;font-family: 黑体;font-weight: bold;font-size: 20px;"><br>功能/年级比例</p>

  <div style="background-color: #EFEFEF;">
    <br>
    <div class="row"><div class="col-1"></div>
          <div class="col-10">
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width: 100%;height: 400px;" class="align-center"></div>
            <button type="button" class="btn btn-primary btn-lg btn-block" style="color: #FEFFFE;background-color: #3D5989;border-radius: 20px;border: none;" onclick="location.href='/data_analyse_index/'">查看其他数据分析</button><br><br>
          </div>
          <div class="col-1"></div>
      </div>

  </div>

  <div class="row">
      <div class="col-1"></div>
      <div class="col-10">

      </div>
      <div class="col-1"></div>
  </div>


<div class="index_footer">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <a href="/index/"><img src="{% static "img/icons/index_nav_home.png" %}" style="width:30px;height:30px;display: flex;margin: 0 auto;align-items: center;ustify-content: center;overflow: hidden;"></a>
                    <div style="text-align: center"><small class="form-text text-muted">主页</small></div>

                </div>
                <div class="col-4">

                    <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "img/icons/index_nav_start.png" %}" style="width:30px;height:30px;display: flex;margin: 0 auto;align-items: center;justify-content: center;overflow: hidden;"></a>
                    <div style="text-align: center"><small class="form-text text-muted">发起</small></div>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/carpool_start/">约出行</a>
                    <a class="dropdown-item" href="/study_start/">约学习</a>
                    <a class="dropdown-item" href="/sport_start/">约健身</a>
                    <a class="dropdown-item" href="/game_start/">约开黑</a>
                    </div>

                </div>


                <div class="col-4">
                    <!--a href="/my/"><img src="{% static "img/icons/index_nav_my.png" %}" style="width:30px;height:30px;display: flex;margin: 0 auto;align-items: center;justify-content: center;overflow: hidden;"></a-->
                    <!--div style="text-align: center"><small class="form-text text-muted">我的</small></div-->

                    <a href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "img/icons/index_nav_my.png" %}" style="width:30px;height:30px;display: flex;margin: 0 auto;align-items: center;justify-content: center;overflow: hidden;"></a>
                    <div style="text-align: center"><small class="form-text text-muted">我的</small></div>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="/carpool_my/">我的约出行</a>
                    <a class="dropdown-item" href="/study_my/">我的约学习</a>
                    <a class="dropdown-item" href="/sport_my/">我的约健身</a>
                    <a class="dropdown-item" href="/game_my/">我的约开黑</a>
                    <a class="dropdown-item" href="/my/">个人信息</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<style>
  .index_footer {
    position: fixed;
    /*position:absolute;*/
    width: 100%;
    z-index: 100;
    bottom: 0;
    height: 80px;
    background-color: #FFFFFF;
    }
</style>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- 引入 echarts.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.common.js"></script-->
    <!--script src={% static 'js/echarts.min.js' %}></script-->
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        var study_numall= {{study_numall|safe}};
        var study_num1= {{study_num1|safe}};
        var study_num2= {{study_num2|safe}};
        var study_num3= {{study_num3|safe}};
        var study_num4= {{study_num4|safe}};
        var sport_numall= {{sport_numall|safe}};
        var sport_num1= {{sport_num1|safe}};
        var sport_num2= {{sport_num2|safe}};
        var sport_num3= {{sport_num3|safe}};
        var sport_num4= {{sport_num4|safe}};
        var game_numall= {{game_numall|safe}};
        var game_num1= {{game_num1|safe}};
        var game_num2= {{game_num2|safe}};
        var game_num3= {{game_num3|safe}};
        var game_num4= {{game_num4|safe}};
        var carpool_numall= {{carpool_numall|safe}};
        var carpool_num1= {{carpool_num1|safe}};
        var carpool_num2= {{carpool_num2|safe}};
        var carpool_num3= {{carpool_num3|safe}};
        var carpool_num4= {{carpool_num4|safe}};
       var option = {
        tooltip: {
        trigger: 'item',
        formatter: "{b}: {c}人"
    },
    series: {
        type: 'sunburst',
        data: [
            {
            name: '约学习',
            value: study_numall,
                itemStyle:{
                color: '#0066FF',
                },
            textStyle:{
                fontSize:18
            },
            children:
            [
                {
                value: study_num1,
                name: '大一',
                    itemStyle:{
                    color:'#0066CC'
                    }
                },
                {
                value: study_num2,
                name: '大二',
                    itemStyle:{
                    color:'#0099FF'
                    }
                },
                {
                    value:study_num3,
                    name:'大三',
                    itemStyle:{
                    color:'#0099CC'
                    }
                },
                {
                    value: study_num4,
                    name:'大四',
                    itemStyle:{
                    color:'#006699'
                    }
                }
            ]
            },
            {
            name: '约健身',
            value: sport_numall,
                itemStyle:{
                color:'#FF6600'
                },
            children:
            [
                {
                value: sport_num1,
                name: '大一',
                    itemStyle:{
                    color:'#FF6633'
                    }
                },
                {
                value: sport_num2,
                name: '大二',
                    itemStyle:{
                    color:'#FF9900'
                    }
                },
                {
                    value:sport_num3,
                    name:'大三',
                    itemStyle:{
                    color:'#FF9933'
                    }
                },
                {
                    value: sport_num4,
                    name:'大四',
                    itemStyle:{
                    color:'#FF9966'
                    }
                }
            ]
            },
            {
            name: '约出行',
            value: carpool_numall,
                itemStyle:{
                color:'#66CC66'
                },
            children:
            [
                {
                value: carpool_num1,
                name: '大一',
                    itemStyle:{
                    color:'#669900'
                    }
                },
                {
                value: carpool_num2,
                name: '大二',
                    itemStyle:{
                    color:'#66CC99'
                    }
                },
                {
                    value:carpool_num3,
                    name:'大三',
                    itemStyle:{
                    color:'#669966'
                    }
                },
                {
                    value: carpool_num4,
                    name:'大四',
                    itemStyle:{
                    color:'#669999'
                    }
                }
            ]
            },
            {
            name: '约开黑',
            value: game_numall,
                itemStyle:{
                color:'#990000'
                },
            children:
            [
                {
                value: game_num1,
                name: '大一',
                    itemStyle:{
                    color:'#993333'
                    }
                },
                {
                value: game_num2,
                name: '大二',
                    itemStyle:{
                    color:'#990033'
                    }
                },
                {
                    value:game_num3,
                    name:'大三',
                    itemStyle:{
                    color:'#996666'
                    }
                },
                {
                    value: game_num4,
                    name:'大四',
                    itemStyle:{
                    color:'#999966'
                    }
                }
            ]
            },
            ]
        }
    };
    myChart.setOption(option, true);
    </script>
  </body>
</html>
