<!doctype html>
{% load staticfiles %}
<html lang="en" style="overflow-x: hidden;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--link rel="stylesheet" href="{% static "css/style.css" %}"-->
    <link rel="stylesheet" href="{% static "css/weui.css" %}">
    <link rel="stylesheet" href="{% static "css/background_style.css" %}">
    <link rel="stylesheet" href="{% static "css/my.css" %}">

    <title>!Hub</title>
  </head>
  <body style="background-color: #36588D;overflow-x: hidden;">

  <div class="my_top"></div>
  <p>&nbsp;</p>


  {% if not not_log_in %}
  <div class="row my_avatar"><div class="col-1"></div><div class="col-10">
      <br>
      <img src="{% static "img/avatar/avatar_example.png" %}" style="width:100px;height:100px;display: flex;border-radius: 100%;align-items: center;justify-content: center;overflow: hidden;">
  </div><div class="col-1"></div></div>
  {% endif %}

  <div class="my_info">
  {% if not not_log_in %}

      <div class="row"><div class="col-1"></div><div class="col-10">
          <br>
          <div style="text-align: right"><a><h6>修改</h6></a></div>
      </div><div class="col-1"></div></div>


      <div style="background-color: #EFEFEF">
          <div class="row"><div class="col-1"></div><div class="col-10">
              <br>
              <p class="font-weight-bold">基本信息</p>
          </div><div class="col-1"></div></div>
      </div>
      <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
              <div class="my_base_info">
                  <br>
                  <p class="font-weight-light"><strong>用户名：</strong>{{ user.username }}</p>
                  <p class="font-weight-light"><strong>姓名：</strong>{{ user.name }}</p>
                  <p class="font-weight-light"><strong>性别：</strong>{{ user.gender }}</p>
              </div>
          </div>
          <div class="col-1"></div>
      </div>

      <div style="background-color: #EFEFEF">
          <div class="row"><div class="col-1"></div><div class="col-10">
              <br>
              <p class="font-weight-bold">学校信息</p>
          </div><div class="col-1"></div></div>
      </div>
      <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
              <div class="my_base_info">
                  <br>
                  <!--p class="font-weight-light"><strong>学校：</strong>华东理工大学</p-->
                  <!--p class="font-weight-light"><strong>身份：</strong>学生</p-->
                  <p class="font-weight-light"><strong>专业：</strong>{{ user.major }}</p>
                  <p class="font-weight-light"><strong>学号/工号：</strong>{{ user.no }}</p>
              </div>
          </div>
          <div class="col-1"></div>
      </div>

      <div style="background-color: #EFEFEF">
          <div class="row"><div class="col-1"></div><div class="col-10">
              <br>
              <p class="font-weight-bold">联系方式及其他信息</p>
          </div><div class="col-1"></div></div>
      </div>
      <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
              <div class="my_base_info">
                  <br>
                  <p class="font-weight-light"><strong>邮箱：</strong>{{ user.mail }}</p>
                  <p class="font-weight-light"><strong>微信ID：</strong>{{ user.weChat_id }}</p>
                  <p class="font-weight-light"><strong>手机号：</strong>{{ user.phone }}</p>
                  <p class="font-weight-light"><strong>注册时间：</strong>{{ user.reg_time }}</p>
                  <p class="font-weight-light"><strong>信誉积分：</strong>{{ user.credit }}</p>
              </div>
              <br>

          </div>
          <div class="col-1"></div>
      </div>

      <div style="background-color: #EFEFEF">
          <div class="row"><div class="col-1"></div><div class="col-10">
          <br>
          <button type="button" class="btn btn-primary btn-lg btn-block" style="color: #3D5989;background-color: #FFEA48;border-radius: 20px;border: none;" onclick="location.href='/logout/'">退出登录</button><br>
          <button type="button" class="btn btn-primary btn-lg btn-block" style="color: #FEFFFE;background-color: #3D5989;border-radius: 20px;border: none;" onclick="location.href='/data_analyse_index/'">本平台数据分析</button><br><br><br><br>
          </div><div class="col-1"></div></div>
      </div>

  {% endif %}
  </div>


<div class="index_footer">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <a href="/index/"><img src="{% static "img/icons/index_nav_home.png" %}" style="width:30px;height:30px;display: flex;margin: 0 auto;align-items: center;ustify-content: center;overflow: hidden;"></a>
                    <div style="text-align: center"><small class="form-text text-muted">主页</small></div>

                </div>
                <div class="col-4">

                    <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "img/icons/index_nav_start.png" %}" style="width:30px;height:30px;display: flex;margin: 0 auto;align-items: center;justify-content: center;overflow: hidden;"></a>
                    <div style="text-align: center"><small class="form-text text-muted">发起</small></div>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/carpool_start/">约出行</a>
                    <a class="dropdown-item" href="/study_start/">约学习</a>
                    <a class="dropdown-item" href="/sport_start/">约健身</a>
                    <a class="dropdown-item" href="/game_start/">约开黑</a>
                    </div>

                </div>


                <div class="col-4">
                    <!--a href="/my/"><img src="{% static "img/icons/index_nav_my.png" %}" style="width:30px;height:30px;display: flex;margin: 0 auto;align-items: center;justify-content: center;overflow: hidden;"></a-->
                    <!--div style="text-align: center"><small class="form-text text-muted">我的</small></div-->

                    <a href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "img/icons/index_nav_my.png" %}" style="width:30px;height:30px;display: flex;margin: 0 auto;align-items: center;justify-content: center;overflow: hidden;"></a>
                    <div style="text-align: center"><small class="form-text text-muted">我的</small></div>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="/carpool_my/">我的约出行</a>
                    <a class="dropdown-item" href="/study_my/">我的约学习</a>
                    <a class="dropdown-item" href="/sport_my/">我的约健身</a>
                    <a class="dropdown-item" href="/game_my/">我的约开黑</a>
                    <a class="dropdown-item" href="/my/">个人信息</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<style>
  .index_footer {
    position: fixed;
    /*position:absolute;*/
    width: 100%;
    z-index: 100;
    bottom: 0;
    height: 80px;
    background-color: #FFFFFF;
    }
</style>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
